<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Cozy Game UI</title>
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link rel="stylesheet" href="/assets/css/clock.css" />
  <link rel="stylesheet" href="/assets/css/musicPlayer.css" />
  <link rel="stylesheet" href="/assets/css/todo.css" />
  <link rel="stylesheet" href="/assets/css/toggleMenu.css" />
  <link rel="stylesheet" href="/assets/css/game.css" />
  <link rel="stylesheet" href="/assets/css/slider.css" />
  <script src="https://cdn.jsdelivr.net/npm/phaser@3/dist/phaser.js"></script>

</head>