<div id="menu-1" class="toggle-menu modal">
    <div class="menu">
      <div class="menu-header">Menu</div>
      <div class="menu-body">
        Dozy? 
        Henrietta?
        <button id="toggle-format">Toggle 12/24hr</button>
      </div>
    </div>
    </div>