
  <div>
    <div class="track-info" id="track-info">Rizzugoi - I'm so tired</div>
    <div class="music-player" id="music-player">
        
      <button id="toggle-music" aria-label="Play/Pause">
        <img src="/assets/images/icon/Pause.svg" alt="Pause" />
      </button>
      <!-- Shuffle Button -->
      <button id="shuffle-music" aria-label="Shuffle">
        <img src="/assets/images/icon/Shuffle.svg" alt="Shuffle" />
      </button>
  
      <button id="music-note" aria-label="Music Note">
        <img src="/assets/images/icon/Library.svg" alt="Music Note" />
      </button>

      <input type="range" id="volume-slider" min="0" max="100" value="50" />
      
    </div>

  </div>