<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Cozy Game UI</title>
  <!-- <script src="https://cdn.jsdelivr.net/npm/phaser@3/dist/phaser.js"></script> -->
  <script src="https://unpkg.com/excalibur@0.30.0"></script>
  <script type="module" src="/assets/js/excalibur.js"></script>
<style>

html,
body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
</head>
<body>

</body>
</html>